@use "../common/mixin.scss" as *;

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.circles,
.circle-container,
.circle {
  @include position(absolute, 0, 0, 0, 0);
  margin: auto;
  width: 300px;
  height: 300px;
}

.circle-wrap {
  animation: z 10s linear infinite alternate;
}

.circle {
  border: 1px solid var(--border);
  border-radius: 100%;
  opacity: 0;
}

@keyframes x1 {
  0% {
    transform: rotateX(0deg) translate(-150px, 0);
    opacity: 0;
  }
  25% {
    transform: rotateX(360deg) translate(0, 0);
    opacity: 0.5;
  }
  50% {
    transform: rotateX(0deg) translate(150px, 0);
    opacity: 0;
  }
  75% {
    transform: rotateX(360deg) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0deg) translate(-150px, 0);
    opacity: 0;
  }
}

@keyframes x2 {
  0% {
    transform: rotateX(0deg) translate(150px, 0);
    opacity: 0;
  }
  25% {
    transform: rotateX(360deg) translate(0, 0);
    opacity: .5;
  }
  50% {
    transform: rotateX(0deg) translate(-150px, 0);
    opacity: 0;
  }
  75% {
    transform: rotateX(360deg) translate(0, 0);
    opacity: .5;
  }
  100% {
    transform: rotateX(0deg) translate(150px, 0);
    opacity: 0;
  }
}

@keyframes y1 {
  0% {
    transform: rotateY(0deg) translate(0, -150px);
    opacity: 0;
  }
  25% {
    transform: rotateY(360deg) translate(0, 0);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(0deg) translate(0, 150px);
    opacity: 0;
  }
  75% {
    transform: rotateY(360deg) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(0deg) translate(0, -150px);
    opacity: 0;
  }
}

@keyframes y2 {
  0% {
    transform: rotateY(0deg) translate(0, 150px);
    opacity: 0;
  }
  25% {
    transform: rotateY(360deg) translate(0, 0);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(0deg) translate(0, -150px);
    opacity: 0;
  }
  75% {
    transform: rotateY(360deg) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(0deg) translate(0, 150px);
    opacity: 0;
  }
}

@keyframes z {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
